.ban-banner {
    width: 100%;
    background-color: #0d28a6;
    padding: 50px;
    color: white;
    border-radius: 10px;
  }

  .banner-text {
    font-size: 36px;
    font-weight: bold;
  }

  .banner {
      margin-top: 70px;
  }

  .custom-button {
    background: #5CB85F;
}