.faq {
    margin-top: 5%;
}

.text-faq h1{
    text-align: start;
}

.text-faq p{
    text-align: start;
}

.p-text {
    text-align: start;
}

.accordion-item {
    margin: 16px 0px;
    border-radius: 4px;
}

