/* .card-mobil {
  width: 400px;
  height: auto;
  margin-right: 5px;
}

.card-img-top{
  position: initial;
  width: auto;
  height: 300px;
  left: 24px;
  top: 24px;
}

.btn-mobil{
  width: 100%;
} */

.cars-container img {
  height: 30vw;
  object-fit: cover;
}