.hero {
    background-color: #F1F3FF;
    width: 100%;
    padding-top: 10px;
    text-align: justify;
}

.row-hero {
    margin-bottom: 50px;
    margin-top: 50px;
}

.hero h1 {
    width: auto;
    font-style: normal;
    font-weight: bold;
    line-height: 40px;
}

.hero p {
    width: auto;
    font-style: normal;
    font-weight: 350;
    line-height: 20px;
}

img {
    background-color: #F1F3FF;
    width: fit-content;
}

.custom-button {
    background: #5CB85F;
}