.desc {
    margin-top: 50px;
}

.desc h2 {
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    line-height: 36px;
    margin-left: 3%;
    margin-right: 3%;
}

.desc p {
    padding-top: 20px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    line-height: 20px;
    font-size: 15px;
    margin-left: 3%;
    margin-right: 3%;

}

.img-fluid{
    background-color: white;
}
ul {
    list-style: none;
    line-height: 45px;
    padding: 0;
    font-size: 15px;
    margin-left: 3%;
    margin-right: 3%;

}

@media (max-width: 365px) {
    .row-ourService{
        display: inline;
    }
}

@media (max-width: 1200px) {
    .row-ourService{
        display: inline;
    }
}