.cari-mobil {
    position: absolute;
    top: 495px;
    height: auto;
    border-radius: 11px;
    padding-bottom: 30px;
    margin-left: 8%;
    margin-right: 8%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    background-color: white;
}

.form-label {
    display: flex;
    margin-top: 20px;
}

.mobil{
    margin:0%;
}

.time {
    background-image: url("/public/gambar/clock-svgrepo-com.svg");
  }

.custom-button {
    background: #5CB85F;
}

@media (max-width: 365px) {
    .row{
        display: inline;
    }
    
}

@media (max-width: 965px) {
    .row{
        display: inline;
    }
}