#testimonial {
    margin-top: 100px;
}
.card .testimony-image img {
    width: 70%;
    justify-content: center;
    padding-top: 30px;
    margin-right: 10px;
    margin-left: 30px;
    background-color: white;
}
.card .testimony .rate {
    width: 35%;
    background-color: white;
}

.testimony .username {
    font-weight: bold;
    font-size: smaller;
}

.card {
    width: 85%;
    background-color: white;
    border-radius: 8px;
}

.head-testi h1{
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}

.head-testi p{
    text-align: center;
    font-size: 16px;
    font-family: Helvetica;
}

.testimony {
    text-align: start;
}
