.why{
    margin-top: 100px;
}

.col-md {
    margin-top: 30px;
}
.col-md h2{
    text-align: start;
}

.col-md p{
    text-align: start;
}

.card-why {
    margin-top: 10px;
    margin-bottom: 10px;
    width: auto;
    height: 200px;
    align-content: center;
}

.text-card {
    text-align: center;
}

@media (max-width: 365px) {
    .row-why {
        display: inline;
    }

}

@media (max-width: 1200px) {
    .row-why {
        display: inline;
    }
}
.card-img-why {
    margin-bottom: 10px;
}

Card.Body {
    padding-top: 20%;
}